<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="p-3 mt-2 ms-5 me-5 border-5 bd-example m-0 border-0">
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <div id="start">
            <h2>Web ôn thi trắc nghiệm</h2>
        </div>
        <div id="end" class="d-none d-lg-block d-xl-block d-xxl-block ">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link active" href="/user" aria-current="page">
                        <button class="btn btn-outline-black">
                            <h2 sec:authentication="name" style="marginright: 20px;"></h2>
                        </button>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')">
                    <a class="nav-link active" href="/admin" aria-current="page">
                        <button class="btn btn-outline-black">
                            <h2>Admin</h2>
                        </button>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link active" href="/login" aria-current="page">
                        <button class="btn btn-outline-black">
                            <h2>Login</h2>
                        </button>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()" >
                    <a class="nav-link active" aria-current="page">
                        <form th:action="@{/logout}" method="post">
                            <button class="btn btn-outline-black" type="submit"><h2>Logout</h2></button>
                        </form>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Luyện đề
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Toán cao cấp</a></li>
                        <li><a class="dropdown-item" href="#">Tiếng Anh B1</a></li>
                        <li><a class="dropdown-item" href="#">Tin học</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Thi thử
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Liên hệ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5">
    <section layout:fragment="content">

    </section>
</div>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
</script>
</body>
</html>